.dropdown{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--black-color);
    height: 20px;
    width: 115px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.dropdown img{
    margin-left: 2rem;
}

.dropdown-content{
    position: absolute;
    top: 2.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
}

.dropdown-content span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 115px;
    padding: 10px;
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--white-color);
}

.dropdown-content span:hover{
    background-color: var(--primary-color);
}