body {
  margin: 0;
  font-family: Helvetica, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #FFBB00;
  --secondary-color: #1F1F1F;
  --gray-color: #D9D9D9;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --red-color: #FF0000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}