.inner-month-container {
  font-weight: 700;
  width: 78.5%;
  height: 90%;

  display: flex;
  flex-direction: row;

  background-color: var(--secondary-color);
  color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}

.month-calendar-container {
  width: 55%;
  height: 100%;
}

.month-calendar-container .navigation {
  display: flex;
  margin: 1rem 2rem;
  font-size: 1.5rem;
  line-height: 1.725rem;
}

.month-calendar-container .navigation button {
  font-size: 1.5rem;
  line-height: 1.725rem;
}

.month-calendar-container table {
  margin: 2rem;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.month-calendar-container table th {
  color: #FFBB00;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.month-calendar-container table td {
  padding: 1.5rem;
  color: white;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
}

.month-calendar-container table .sunday {
  color: var(--red-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  background-color: #1F1F1F;
  color: white;
  border: none;
}

hr {
  width: 0.5rem;
  background-color: rgb(64, 64, 64);
  border: none;
  border-radius: 10px;
  height: 70%;
  vertical-align: top;
  content: "";
  margin: auto 2rem;
}

#today-month-date {
  text-align: center;
  outline: 2px solid var(--primary-color);
  outline-offset: -1.4rem;
}


.event-container {
  width: 45%;
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-and-day {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.event-name {
  font-weight: 300;
}

span#day {
  display: flex;
  justify-content: center;
  align-items: center;
}

.holiday:not(.sunday) span {
  background-color: var(--red-color);
  border-radius: 50%;
}

.holiday.sunday {
  color: var(--white-color) !important;
}