body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1F1F1F;
}

table {
    width: 300px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

table th {
    color: #FFBB00;
    font-size: 18px;
    padding: 10px;
}

table td {
    padding: 10px;
    color: white;
}

table .sunday {
    color: #FF0000;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: #1F1F1F;
    color: white;
}